{% extends 'base.html.twig' %}

{% block body %}
    <h1>Abscence</h1>

    <table>
        <tbody>
            <tr>
                <th>Debutabs</th>
                <td>{% if abscence.debutAbs %}{{ abscence.debutAbs|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fichjustificatif</th>
                <td>{{ abscence.fichJustificatif }}</td>
            </tr>
            <tr>
                <th>Finabs</th>
                <td>{% if abscence.finAbs %}{{ abscence.finAbs|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ abscence.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abscence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('abscence_edit', { 'id': abscence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
