{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Uid</th>
                <td>{{ user.uid }}</td>
            </tr>
            <tr>
                <th>Ine</th>
                <td>{{ user.ine }}</td>
            </tr>
            <tr>
                <th>Etuid</th>
                <td>{{ user.etuid }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cn</th>
                <td>{{ user.cn }}</td>
            </tr>
            <tr>
                <th>Ufclibellediplome</th>
                <td>{{ user.ufclibellediplome }}</td>
            </tr>
            <tr>
                <th>Ufclibelleetape</th>
                <td>{{ user.ufclibelleetape }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
