{% extends 'base.html.twig' %}

{% block body %}

    {% include 'Gestion_Abs_IUTBM_Bundle:include:nav.html.twig' %}

    <section class="container">

        <br><br><br>

        {% if app.session.flashBag.has('justifier') %}
            <div class="alert alert-success alert-dismissible">
                {% for msg in app.session.flashBag.has('justifier') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header well">
                    <h1>Mes absences</h1>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-offset-2 col-lg-8 well">
                <h4>Information sur l'étudiant</h4>
                <div class="row">
                    <div class="col-lg-6 barre-droite">
                        <strong>Pseudo </strong> : {{ app.user.uid }}<br>
                        <strong>N° INE </strong> : {{ app.user.ine }}<br>
                        <strong>Email </strong> : {{ app.user.email }}
                    </div>
                    <div class="col-lg-6">
                        <strong>Nom </strong> : {{ app.user.cn }}<br>
                        <strong>Diplome </strong> : {{ app.user.ufcLibelleDiplome }}<br>
                        <strong>Etape </strong> : {{ app.user.ufcLibelleEtape }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-offset-2 col-lg-8 well">

                <h4>Les absences</h4>

                <div class="table table-responsive">

                    <table class="table table-bordered table-striped" style="text-align: center">

                        <thead>
                        <tr>
                            <th>N° absence</th>
                            <th>Début de l'absence</th>
                            <th>Fin de l'absence</th>
                            <th>Justifier</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for absence in absences if absences is not empty%}

                            {% if absence.fichJustificatif != '' %}

                                <tr>
                                    <td>{{ absence.id }}</td>
                                    <td>{{ absence.debutAbs.date | date('d/m/Y (H:i)') }}</td>
                                    <td>{{ absence.finAbs.date | date('d/m/Y (H:i)')}}</td>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                </tr>

                            {% else %}

                                <tr>
                                <td>{{ absence.id }}</td>
                                <td>{{ absence.debutAbs.date | date('d/m/Y (H:i)') }}</td>
                                <td><i>Non renseigné</i></td>
                                <td>
                                    <form action="{{ path('absences') }}" method="post">
                                        <input type="hidden" name="absence" value="{{ absence.id }}">
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </form>
                                </td>

                            {% endif %}

                        {% else %}
                            <tr>
                                <td colspan="4">Vous n'avez pas d'absence</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </section>

{% endblock %}